

body {
 background: rgb(250,250,250);
 color: black;
font-family: font-family: 'Karla', sans-serif;
font-size: 17px;
font-weight: lighter;
}
h1,h2{
	font-family: 'Bebas Neue', cursive;
     }
h1 {
	color: #70F8BA;
	font-size: 34px;

}
h2{
	color: #70F8BA;
	font-size: 24px;
	font-weight: lighter;
}
a{
	text-decoration: none;
	color: red;

}
a:hover{
	color: yellow;
}
 

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
 
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
div {
background: white;                      
padding: 30px;                             
border-radius: 4px;                        
box-shadow: 0 10px 30px rgba(0,0,0,10);    
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 10px;	
}
.list-inline {
  list-style: none; 
  padding-left: 0px; 
}
.list-inline > li {
  display: inline;
  padding: 0px 20px;
}
